body {
  margin: 0px;
}

#app {
  width: 100%;
}

header {
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #2A3142;
  display: inline-block;
}

header .wrapper{
  margin-top: 10px;
}

header a {
  color: white;
  font-size: 25px;
  text-decoration: none;
  margin-right: 20px; 
  font-weight: bold;
}

header a:last-child {
  margin-right: 0px;
}

a.router-link-active.router-link-exact-active {
  color: #8A9098;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 767px) {
  header {
    height: 45px;
  }

  header a {
    font-size: 12px;
  }

  main {
    max-width: 100%;
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  header {
    height: 50px;
  }

  header a {
    font-size: 20px;
  }

  main {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
  }
}

